<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "site" %>
    <style type="text/css">
      <%= Rouge::Themes::Github.render(:scope => '.highlight') %>     
    </style>
  </head>
  <body>
    <div id="main" role="main">
      <h1 class="main-title"><%= current_page.data.title %></h1>
      <% if current_page.data.date %>
        <small class="date">
          Roland Studer, <%= Date.parse(current_page.data.date).strftime('%e. %_m. %Y') %>
        </small>
      <% end %>
      <%= yield %>
    </div>
    <hr>
    <footer>
      <a href="/" title="">Alle Blogposts</a> 
      von Roland Studer
      <a href="mailto:roli@hey.com">roli@hey.com</a> | 
      <a href="https://www.twitter.com/rolandstuder" title="">Twitter</a> |
      <a href="https://www.github.com/rolandstuder" title="">Github</a>
    </footer>
  </body>
</html>
